{% extends "adminuser/base.html" %}
{% load static %}

{% block extraFile %}
    <!-- Specific for datatable -->
    <link rel="stylesheet" href="{% static "adminuser/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "adminuser/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">

    <!-- For Chartjs -->
    <link rel="stylesheet" href="{% static "adminuser/plugins/chart.js/Chart.min.css" %}">
{% endblock %}


{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <!-- All Contents of page will go here .
              This is the portion where all change dynamically -->

              <div class="row">
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-info">
                    <div class="inner">
                      <h3>{{ new_posts_count_today }}</h3>

                      <p>New Posts (Today)</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h3>{{ total_views_today }}</h3>

                      <p>Total Views (Today)</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-stats-bars"></i>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h3>{{ all_posts_count }}</h3>

                      <p>Total Posts </p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h3>{{ total_views }}</h3>

                      <p>Total Views</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                    </div>
                  </div>
                </div>
                <!-- ./col -->
              </div>

              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Views (Weekly)</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="lineChart" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%; display: block; width: 1058px;" width="1058" height="250" class="chartjs-render-monitor"></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>

              <input type="hidden" value='{{ list_of_dates }}' id="chartlabels" />
              <input type="hidden" value='{{ list_of_blogs }}' id="chartdata">
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
{% endblock %}


{% block jsScript %}
 <!-- JS specifically for datatable -->
    <script src="{% static "adminuser/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "adminuser/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "adminuser/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "adminuser/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>

    <script src="{% static "adminuser/plugins/chart.js/Chart.min.js" %}"></script>
    <script>

$(function () {

    var lineChartData = {
      labels  : JSON.parse($("#chartlabels").val()),
      datasets: [
        {
          label               : 'Posts',
          backgroundColor     : '#2541b2)',
          borderColor         : '#2541b2',
          pointRadius          : true,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#000',
          pointHighlightStroke: '#000',
          pointHoverBackgroundColor: 'rgb(255, 99, 132)',
          pointHoverBorderColor: 'rgb(255, 99, 132)',
          data                : JSON.parse($("#chartdata").val())
        }
      ]
    }

    console.log(lineChartData)
    var lineChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          }
        }]
      }
    }

    //-------------
    //- LINE CHART -
    //--------------
    var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
    lineChartData.datasets[0].fill = false;
    lineChartOptions.datasetFill = false

    var lineChart = new Chart(lineChartCanvas, {
      type: 'line',
      data: lineChartData,
      options: lineChartOptions
    })

});

    </script>
{% endblock %}

