{% extends "normaluser/base.html" %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container text-center pt-2 pb-2" >
        <h1>{{ blog.title }}</h1>
        <p>Written By {{ blog.user.name }} | {{ blog.created_on.date }}</p>
        <div class="content text-start">
            {% autoescape off %}
                {{ blog.content }}
            {% endautoescape %}

        </div>

        <div class="btn-group mt-3" role="group" aria-label="Basic example">
            <a  class="btn btn-primary btn-lg" href="?like=1">👍&nbsp;{{ likescount }}</a>
            <a t class="btn btn-danger btn-lg" href="?like=0">👎&nbsp;{{ dislikescount }}</a>
        </div>
        <div class="commentbox mt-3 mb-4">
            <form class="mt-3 mb-4 text-start" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="input1" class="form-label">Write your comment </label>
                    <textarea class="form-control" placeholder="Write comments" name="comment" id="input1" rows="3"></textarea>
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
            <h3>All Comments</h3>
            {% if comments %}
                {% for comment in comments %}
                    <div class="comment">
                        <h6>{{ comment.name }}&nbsp;•&nbsp;&nbsp;{{ comment.created_on.date }}</h6>
                        <p>{{ comment.comment }}</p>
                    </div>
                {% endfor %}
                {% else %}
                <div class="alert alert-dark" role="alert">
                  No Comments Found
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}


{% block jsscript %}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
{% endblock %}
