{% extends "normaluser/base.html" %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container-fluid" style="background-color: rgb(253, 45, 107);height: 90vh;display: flex;justify-content: center;align-items: center;">
      <div class="loginform p-4">
        <h1 class="mt-5">Login Now</h1>
          {% if message %}
              {% autoescape off %}
                  {{ message }}
              {% endautoescape %}
          {% endif %}
        <form class="p-3 text-start" method="post">
            {% csrf_token %}
          <div class="mb-3">
            <label for="input1" class="form-label">Email address</label>
            <input type="text" class="form-control" id="input1" name="email" placeholder="Email address " required>
          </div>
          <div class="mb-3">
            <label for="input2" class="form-label">Password</label>
            <input type="password" class="form-control" id="input2" name="password" placeholder="Password" required>
          </div>
          <button class="btn btn-warning w-100" type="submit">Log In</button>
        </form>
        <a href="{% url "forgetpasswordrequest" %}" class="btn btn-info w-100 mb-3">Forgot Password</a>
        <a href="{% url "register" %}" class="btn btn-dark w-100">No Account ? Sign Up</a>
      </div>
    </div>
{% endblock %}
    

{% block jsscript %}

{% endblock %}