[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=centos
Group=nobody
WorkingDirectory=/home/ubuntu/blog
ExecStart=/home/ubuntu/blog/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          blog.wsgi:application

[Install]
WantedBy=multi-user.target